- var pageTitle = 'Home'

extends layout

block content
  h3 Welcome to roots!
  :marked
    Find tutorials and documentation at http://roots.cx : )
    
  div
    section
      p 1
    section
      p 2
    section
      p 3
    section
      p 4
    section
      p 5
