---
title: 'hello world'
description: 'this is your first blog post'
author: you
date: 2015-09-09
category: general
---

extends /views/layouts/_default.jade

block variables
  - var pageTitle = post.title
  - var pageDescription = post.description
  - var pageAuthor = post.author

block content  
  h2=post.title
  p this is your first blog post.

  
