head
  meta(charset="utf8")
  title #{title} | #{pageTitle}
  meta(name="description" content=pageDescription)
  meta(name="author" content=pageAuthor)
  meta(name="viewport", content="width=device-width, initial-scale=1")
  != css('/')
